{% block title %}
<h1>Add article</h1>
{% endblock %}
<form method="post">
	<div>
		<div>Title</div>
		<div><input name="title" value="{{ fields.title }}"></div>
		<div>{{ errors.title }}</div>
	</div>
	<div>
		<div>Content</div>
		<div><textarea name="content">{{ fields.content }}</textarea></div>
		<div>{{ errors.content }}</div>
	</div>
	<button>Send</button>
</form>